@font-face {
    font-family: 'aquilinetworegular';
    src: font_url('aquilinetwo-webfont.woff2') format('woff2'),
         font_url('aquilinetwo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}